extends ./tpl/layout

block page
  h1 Lorem ipsum 
  p dolor sit amet, consectetur adipisicing elit. Enim aliquid, commodi tempora non sapiente quaerat iure veniam ut quas, magni sequi explicabo, est suscipit ipsum iusto error laudantium nisi quod?
  
